# Copie este arquivo para o .env e preencha com os valores reais do seu MySQL local.

DATABASE_URL="mysql://root:SUA_SENHA_AQUI@localhost:3306/bootcamp_tasks"
DATABASE_USER="root"
DATABASE_PASSWORD="SUA_SENHA_AQUI"
DATABASE_NAME="bootcamp_tasks"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
